@font-face {
	font-family: 'Circe-Regular';
  	src: url(../fonts/circe-regular.ttf) format('ttf'), url(../fonts/circe-regular.woff) format('woff');
  	font-weight: 400;
}

@font-face {
	font-family: 'Circe-Extra-Light';
  	src: url(../fonts/circe-extra-light.ttf) format('ttf'), url(../fonts/circe-extra-light.woff) format('woff');
  	font-weight: 300;
}

@font-face {
	font-family: 'Circe-Bold';
  	src: url(../fonts/circe-bold.ttf) format('ttf'), url(../fonts/circe-bold.woff) format('woff');
  	font-weight: 700;
}

@font-face {
	font-family: 'IntroScriptR';
  	src: url(../fonts/IntroScriptR-H2Base.ttf) format('ttf'), url(../fonts/IntroScriptR-H2Base.woff) format('woff');
  	font-weight: 400;
}